<html>
  <head>
    <title>HubSearch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="static/jquery.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1 class="text-center">
              <font size="32" color="#5cb85c">HubSearch</font>
            </h1>
            <p class="text-center">
              <font color="red">The easy way to search GitHub for open redirection vulnerabilities</font>
            </p>
        </div>
      </div>
      <br/>
      {% if message %}
        <div class="row">
            <div class="form-group col-lg-4 col-lg-offset-4">
                <p class="error"><strong>Message:</strong> {{ message }}</p>
            </div>
        </div>
      {% endif %}
      <br/>
      <div class="row">
          <div class="form-group col-lg-4 col-lg-offset-4">
              <p class="text-center">
              <font color="red", size="5">Results:</font>
            </p>
          </div>
      </div>
      {% for i in code %}
        <div class="row">
            <div class="form-group col-lg-4 col-lg-offset-4" id="div_{{ i[2] }}">
                <p class="error"><strong>
                    <a href="{{ i[2] }}" id="{{ i[2] }}" name="{{ i[2] }}">{{ i[2] }}</a>
                </strong></p>
                <p class="error"><pre><code> {{ i[1] }}</code></pre></p>
                <button class="btn btn-danger" type="button" onclick="fp('{{ i[2] }}')"><span class="Text">False Positive<br></span></button>
                <br/>
                <br/>
            </div>
        </div>
      {% endfor %}
    </div>
  <script>
      function fp(url) {
          $.post('fp', {id: url}, function(result) {
              console.log("successful FP call");
              $(document.getElementById("div_" + url)).hide();
          })
      }
  </script>
  </body>
</html>
